<div class="container-fluid">
    <div class="content">
         <nav
      class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
    >

      <!-- Sidebar Toggle (Topbar) -->
      <form class="form-inline">
        <button
          id="sidebarToggleTop"
          class="btn btn-link d-md-none rounded-circle mr-3"
        >
          <i class="fa fa-bars"></i>
        </button>
      </form>

      <!-- Topbar Search -->
      <form
        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
      >
        <div class="input-group">
          <input
            type="text"
            class="form-control bg-light border-0 small"
            placeholder="Search for..."
            aria-label="Search"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Topbar Navbar -->
      <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="searchDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fas fa-search fa-fw"></i>
          </a>
          <!-- Dropdown - Messages -->
          <div
            class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
            aria-labelledby="searchDropdown"
          >
            <form class="form-inline mr-auto w-100 navbar-search">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control bg-light border-0 small"
                  placeholder="Search for..."
                  aria-label="Search"
                  aria-describedby="basic-addon2"
                />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </li>

        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="alertsDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fas fa-bell fa-fw"></i>
            <!-- Counter - Alerts -->
            <span class="badge badge-danger badge-counter">3+</span>
          </a>
          <!-- Dropdown - Alerts -->
          <div
            class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
            aria-labelledby="alertsDropdown"
          >
            <h6 class="dropdown-header">
              Alerts Center
            </h6>
            <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="mr-3">
                <div class="icon-circle bg-primary">
                  <i class="fas fa-file-alt text-white"></i>
                </div>
              </div>
              <div>
                <div class="small text-gray-500">December 12, 2019</div>
                <span class="font-weight-bold">A new monthly report is ready to
                  download!</span>
              </div>
            </a>
            <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="mr-3">
                <div class="icon-circle bg-success">
                  <i class="fas fa-donate text-white"></i>
                </div>
              </div>
              <div>
                <div class="small text-gray-500">December 7, 2019</div>
                $290.29 has been deposited into your account!
              </div>
            </a>
            <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="mr-3">
                <div class="icon-circle bg-warning">
                  <i class="fas fa-exclamation-triangle text-white"></i>
                </div>
              </div>
              <div>
                <div class="small text-gray-500">December 2, 2019</div>
                Spending Alert: We've noticed unusually high spending for your
                account.
              </div>
            </a>
            <a
              class="dropdown-item text-center small text-gray-500"
              href="#"
            >Show All Alerts</a>
          </div>
        </li>

        <!-- Nav Item - Messages -->
        <li class="nav-item dropdown no-arrow mx-1">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="messagesDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fas fa-envelope fa-fw"></i>
            <!-- Counter - Messages -->
            <span class="badge badge-danger badge-counter">7</span>
          </a>
          <!-- Dropdown - Messages -->
          <div
            class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
            aria-labelledby="messagesDropdown"
          >
            <h6 class="dropdown-header">
              Message Center
            </h6>
            <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="dropdown-list-image mr-3">
                <img
                  class="rounded-circle"
                  src="img/undraw_profile_1.svg"
                  alt="..."
                />
                <div class="status-indicator bg-success"></div>
              </div>
              <div class="font-weight-bold">
                <div class="text-truncate">Hi there! I am wondering if you can
                  help me with a problem I've been having.</div>
                <div class="small text-gray-500">Emily Fowler · 58m</div>
              </div>
            </a>
            <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="dropdown-list-image mr-3">
                <img
                  class="rounded-circle"
                  src="img/undraw_profile_2.svg"
                  alt="..."
                />
                <div class="status-indicator"></div>
              </div>
              <div>
                <div class="text-truncate">I have the photos that you ordered
                  last month, how would you like them sent to you?</div>
                <div class="small text-gray-500">Jae Chun · 1d</div>
              </div>
            </a>
            <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="dropdown-list-image mr-3">
                <img
                  class="rounded-circle"
                  src="img/undraw_profile_3.svg"
                  alt="..."
                />
                <div class="status-indicator bg-warning"></div>
              </div>
              <div>
                <div class="text-truncate">Last month's report looks great, I am
                  very happy with the progress so far, keep up the good work!</div>
                <div class="small text-gray-500">Morgan Alvarez · 2d</div>
              </div>
            </a>
            <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="dropdown-list-image mr-3">
                <img
                  class="rounded-circle"
                  src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                  alt="..."
                />
                <div class="status-indicator bg-success"></div>
              </div>
              <div>
                <div class="text-truncate">Am I a good boy? The reason I ask is
                  because someone told me that people say this to all dogs, even
                  if they aren't good...</div>
                <div class="small text-gray-500">Chicken the Dog · 2w</div>
              </div>
            </a>
            <a
              class="dropdown-item text-center small text-gray-500"
              href="#"
            >Read More Messages</a>
          </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="userDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas
              McGee</span>
            <img
              class="img-profile rounded-circle"
              src="/img/undraw_profile.svg"
            />
          </a>
          <!-- Dropdown - User Information -->
          <div
            class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
            aria-labelledby="userDropdown"
          >

            <a
              class="dropdown-item"
              href="#"
              data-toggle="modal"
              data-target="#logoutModal"
            >
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            </a>
          </div>
        </li>

      </ul>

    </nav>
    <div id="toast-msg">
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        
        <div class="title section-title">
            <h3 class="section-bestseller title secondary-title">QUẢN LÝ ĐƠN HÀNG</h3>
        </div>

        <div class="nav__account-search">
            <form class="form-inline" action="" method="get">
                <input class="form-control mr-sm-2" type="search" id="search" name="search" placeholder="Search by customer's phone" aria-label="Search"
                {{#if search}} value="{{search}}" {{/if}}>
                <button class="btn btn-outline-success my-2 my-sm-0 search-icon btn-primary" 
                style="border:none; background:##688dfd"
                type="submit"><i class="fas fa-search"></i></button>
            </form>
            
        </div>
        
        {{#if notFound}}
              <div id="notfound">
                  <i class="fa-solid fa-triangle-exclamation"></i>
                  <h2>
                      Không tìm thấy sản phẩm phù hợp  
                  </h2>
              </div>
        {{else}}
        <div class="content-table table-hover">
        
            <table class="table table__content table-bordered table-hover">
                <thead class="table__content-thead">
                    <tr>
                        <th>ID</th>
                        <th scope="col">Tổng tiền</th>
                        <th scope="col">Thời gian</th>
                        <th scope="col">SĐT</th>
                        <th scope="col">Địa chỉ</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Chỉnh sửa</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each AllOrders}}
                    <tr>
                        <td class="order-id"><p id="order-id">#{{this.order_id}}</p></td>
                        <td>{{this.order_total}}</td>
                        <td>{{this.order_time}}</td>
                        <td>{{this.order_phone}}</td>
                        <td>{{this.fulladdress}}</td>
                        <td>{{this.order_status}}</td>
                        <td class="common--btn">
                            <div class="button-edit">
                              <a href="/order/detail/{{this.order_id}}" style="color:white;" onfocus="return false" target="_blank">
                                  <button class="btn btn__item btn--blue" style="padding: 5px; font-size:15px">
                                      Chi tiết
                                  </button>
                              </a>
                            </div>
                            <div class="button-edit">
                              <button type="button" class="btn btn__item btn--green" style="padding: 5px; font-size:15px"
                                  data-toggle="modal" data-o_id="{{this.order_id}}" data-o_phone = "{{this.order_phone}}"
                                  data-o_a = "{{this.order_a}}" data-o_p = "{{this.order_p}}"
                                  data-o_d = "{{this.order_d}}" data-o_w = "{{this.order_w}}"
                                  data-o_status="{{this.order_status}}" data-target="#updateModal"
                                  {{#compareString this.order_status "Đã hủy"}}disabled{{/compareString}}
                                  {{#compareString this.order_status "Đã giao"}}disabled{{/compareString}}>
                                  Cập nhật
                              </button>
                            </div>
                            <div class="button-edit">
                              <button type="button" class="btn btn__item btn--red" style="padding: 5px; font-size:15px"
                                  data-toggle="modal" data-o_id="{{this.order_id}}" data-target="#removeModal"
                                  {{#compareString this.order_status "Đã hủy"}}disabled{{/compareString}}
                                  {{#compareString this.order_status "Đã giao"}}disabled{{/compareString}}>
                                  Hủy
                              </button>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        
        </div>
      {{/if}}
      <div class="page__navigation">
            <ul class="pagination page">
                {{#forN total_page}}
                <li class="pag__item">              
                    <a class="pag__link {{#compareInt this ../page}} pag__link--active{{/compareInt}}"
                    href="/order/?page={{this}}&search={{../search}}">{{this}}</a>
                </li>
                {{/forN}}
            </ul>
      </div>
    </div>
  </div>
</div>

<!-- Confirm remove modal -->
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="removeModalHead" class="modal-title" style="font-size: 20px;">Hủy đơn hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="removeModalMsg" class="modal-body">
          Bạn có chắc muốn hủy đơn hàng ... ?
        
      </div>
      <div class="modal-footer">
        <button id="btnRemove" type="button" class="btn btn__conf btn-light" background="#eee" style="font-size: 15px">Có</button>
        <button type="button" class="btn btn-secondary btn__conf btn-danger" style="font-size: 15px" data-dismiss="modal">Không</button>
      </div>
    </div>
  </div>
</div>

<!-- Form remove ẩn -->
<form name="removeForm" method="POST" action=""></form>


<!-- Update modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" width="100%">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="updateModalHead" class="modal-title" style="font-size: 20px;">Sửa hóa đơn ...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="updateForm" method="post" action="">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">ID</label>
            <div class="col-sm-8">
              <input id="modalUId" type="text" readonly class="form-control-plaintext" style="font-size: 15px;">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Sđt</label>
            <div class="col-sm-8">
              <input id="modalUPhone" type="text" class="form-control" require style="font-size: 15px;" name="o_phone">
            </div>
          </div>

          <div id="formBack1" role="alert">
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Địa chỉ</label>
            <div class="col-sm-8">
              <input id="modalUA" type="text" class="form-control" require style="font-size: 15px;" name="o_a">
            </div>
          </div>

          <div id="formBack2" role="alert">
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Tỉnh - Thành phố</label>
            <div class="col-sm-8">
              <input id="modalUP" type="text" class="form-control" require style="font-size: 15px;" name="o_p">
            </div>
          </div>
          
          <div id="formBack3" role="alert">
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Huyện - Quận</label>
            <div class="col-sm-8">
              <input id="modalUD" type="text" class="form-control" require style="font-size: 15px;" name="o_d">
            </div>
          </div>

          <div id="formBack4" role="alert">
          </div>

          <div class="form-group row ">
            <label class="col-sm-4 col-form-label">Xã - Phường</label>
            <div class="col-sm-8">
              <input id="modalUW" type="text" class="form-control" require style="font-size: 15px;" name="o_w">
            </div>
          </div>

          <div id="formBack5" role="alert">
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Trạng thái</label>
            <div class="col-sm-8  checkbox__radio--owner">
              <div class="primary">
                <input class="checkbox__radio--item" id="checked" name="o_status" value="1" type="radio" class="form-control" style="font-size: 15px;" 
                >
                <label>Đã xác nhận</label>
              </div>
              <div class="secondary">
                <input class="checkbox__radio--item" id="shipping"  name="o_status" value ="2" type="radio" class="form-control" style="font-size: 15px;"
                >
                <label>Đang giao</label>
              </div>
              <div class="secondary">
                <input class="checkbox__radio--item" id="shipped"  name="o_status" value ="3" type="radio" class="form-control" style="font-size: 15px;"
                >
                <label>Đã giao</label>
              </div>
            </div>
          </div>

          <div id="formBack6" role="alert">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button id="btnUpdate" type="button" class="btn btn-success" style="font-size: 15px">Xác nhận </button>
        <button type="button" class="btn btn-secondary" style="font-size: 15px" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- Script cho cả trang -->

{{#compareString del "error" }} 
<script >
    window.addEventListener("load",  function() {
        showErrorToast("Hủy đơn hàng không thành công. Hãy thử lại");
    }); 
</script> 
{{/compareString}}
{{#compareString del "success" }} 
<script >
    window.addEventListener("load",  function() {
        showSuccessToast("Hủy đơn hàng thành công");
    }); 
</script> 
{{/compareString}}
{{#compareString update "success" }} 
<script >
    window.addEventListener("load",  function() {
        showSuccessToast("Cập nhật đơn hàng thành công");
    }); 
</script> 
{{/compareString}}
{{#compareString update "error" }} 
<script >
    window.addEventListener("load",  function() {
        showSuccessToast("Cập nhật đơn hàng không thành công");
    }); 
</script> 
{{/compareString}}
<!--
<script type="text/javascript" src="../../javascript/order.js"></script>
<script
  type="text/javascript"
  src="../../javascript/datatables-demo.js"
></script>
<script src="../../javascript/datatables/jquery.dataTables.min.js"></script>
<script src="../../javascript/datatables/dataTables.bootstrap4.min.js"></script>
-->
<!--
<script>
  //let search = document.querySelector('#search').value;
  //let page = document.querySelector(".pag__linkactive").innerText;
  document.addEventListener('DOMContentLoaded', function() {
    var o_id;
    // Phần hủy hóa đơn
    var btnRemove = document.getElementById("btnRemove");
    var removeForm = document.forms['removeForm'];

    // Khi remove modal hiện lên
    $('#removeModal').on('show.bs.modal', function(event) {
        var passBtn = $(event.relatedTarget);

        o_id = passBtn.data('o_id');

        $('#removeModalMsg').text(`
          Bạn có chắc muốn hủy đơn hàng #${o_id}
          `);
    });

    // Khi click vào nút có trong remove modal
    btnRemove.onclick = function() {
        removeForm.action = '/order/' + o_id + `?_method=DELETE`;//&search=${search}&page=${page}`;
        removeForm.submit();
    };

    // Phân sửa hóa đơn
    var o_phone;
    var o_a;
    var o_p;
    var o_d;
    var o_w;
    var o_status;
    var btnUpdate = document.getElementById("btnUpdate");
    var updateForm = document.forms['updateForm'];


    // Khi update modal hiện lên
    $('#updateModal').on('show.bs.modal', function(event) {
        var passBtn = $(event.relatedTarget);

        o_id = passBtn.data('o_id');
        o_phone = passBtn.data('o_phone');
        o_a = passBtn.data('o_a');
        o_p = passBtn.data('o_p');
        o_d = passBtn.data('o_d');
        o_w = passBtn.data('o_w');
        o_status = passBtn.data('o_status');
        console.log("status of order:", passBtn.data('o_status'));
        if (o_status == "Đã xác nhận") {
            document.getElementById("checked").checked = 'checked';
        } else if (o_status == "Đang giao") {
            document.getElementById("shipping").checked = 'checked';
        }
        $('#updateModalHead').text(`Sửa hoá đơn`);
        document.getElementById("modalUId").value = `#${o_id}`;
        document.getElementById("modalUPhone").value = o_phone;
        document.getElementById("modalUA").value = o_a;
        document.getElementById("modalUP").value = o_d;
        document.getElementById("modalUD").value = o_p;
        document.getElementById("modalUW").value = o_w;

    });


    // Khi ấn nút xác nhận chỉnh sửa
    btnUpdate.onclick = function() {
        let testPhone = updateForm.o_phone.value;
        let testA = updateForm.o_a.value;
        let testP = updateForm.o_p.value;
        let testD = updateForm.o_d.value;
        let testW = updateForm.o_w.value;
        let testStatus = updateForm.o_status.value;
        let updateError = false;

        // Nếu không nhập sđt
        if (!testPhone) {
            updateError = true;
            document.getElementById("formBack1").setAttribute('class', "alert alert-danger");
            $('#formBack1').text("Vui lòng nhập vào trường này.");
        } else {
            document.getElementById("formBack1").setAttribute('class', "");
            $('#formBack1').text("");
        }

        // Nếu không nhập địa chỉ
        if (!testA) {
            updateError = true;
            document.getElementById("formBack2").setAttribute('class', "alert alert-danger");
            $('#formBack2').text("Vui lòng nhập vào trường này.");
        } else {
            document.getElementById("formBack2").setAttribute('class', "");
            $('#formBack2').text("");
        }

        if (!testP) {
            updateError = true;
            document.getElementById("formBack3").setAttribute('class', "alert alert-danger");
            $('#formBack3').text("Vui lòng nhập vào trường này.");
        } else {
            document.getElementById("formBack3").setAttribute('class', "");
            $('#formBack3').text("");
        }

        if (!testD) {
            updateError = true;
            document.getElementById("formBack4").setAttribute('class', "alert alert-danger");
            $('#formBack4').text("Vui lòng nhập vào trường này.");
        } else {
            document.getElementById("formBack4").setAttribute('class', "");
            $('#formBack4').text("");
        }

        if (!testW) {
            updateError = true;
            document.getElementById("formBack5").setAttribute('class', "alert alert-danger");
            $('#formBack5').text("Vui lòng nhập vào trường này.");
        } else {
            document.getElementById("formBack5").setAttribute('class', "");
            $('#formBack5').text("");
        }

        if (!testStatus) {
            updateError = true;
            document.getElementById("formBack6").setAttribute('class', "alert alert-danger");
            $('#formBack6').text("Vui lòng chọn trạng thái đơn.");
        } else {
            document.getElementById("formBack6").setAttribute('class', "");
            $('#formBack6').text("");
        }

        if (updateError) {
          updateError = false
          return;
        }

        updateForm.action = '/order/' + o_id + `/?_method=PUT`;//&search=${search}&page=${page}`;
        updateForm.submit();
    }
});
</script>-->

<div
  class="modal fade"
  id="logoutModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your
        current session.</div>
      <div class="modal-footer">
        <button
          class="btn btn-secondary"
          type="button"
          data-dismiss="modal"
        >Cancel</button>
        <a class="btn btn-primary" href="/logout">Logout</a>
      </div>
    </div>
  </div>

</div>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->

<script
  src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"
></script>
<script
  src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"
></script>
<script
  src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"
></script>