

  <div id="modal-mgs">
  </div>
  <div class="card shadow mb-4 top-45">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Order content </h6>
        </div>
    <div class="card-body">
    <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
                <thead>
          <tr>
            <th class="label" scope="col">Cover</th>
            <th class="label" scope="col">Book name</th>
            <th class="label" scope="col">Author</th>
            <th class="label" scope="col">Pulisher</th>
            <th class="label" scope="col">Price</th>
            <th class="label" scope="col">Quantity</th>
          </tr>
        

        <tbody>
          {{#each items}}
            <tr>
              <td class="first" scope="row">
                <div class="cart-img">
                  <img
                    src="{{this.image_link}}"
                    width="100%"
                  /></div>
              </td>
              <td class="cart__name-item"><a
                  href="/product/detail/{{this.product_id}}"
                >{{this.product_name}}</a></td>
              <td class="cart--sizes">{{this.author_name}}</td>
              <td class="cart--sizes">{{this.publisher_name}}</td>
              <td>{{this.order_price}}</td>
              <td class="cart__input">
                {{this.order_quantity}}
              </td>

              <div
                class="cart-content-id"
                style="display:none"
              >{{this.order_content_id}}</div>
            </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <td>Total charge:</td>
            <td>
              {{sumPrice}}
            </td>
          </tr>
        </tfoot>
        </thead>
      </table>
    </div>
    </div>
  </div>
