    <div id="toast-msg">
    </div>
    <div class="card shadow mb-4 top-45">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Order list</h6>
        </div>
      <div class="card-body">        
        {{#if notFound}}
              <div id="notfound">
                  <i class="fa-solid fa-triangle-exclamation"></i>
                  <h2>
                      No matching products found
                  </h2>
              </div>
        {{else}}
        
            <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
                <thead>
                    <tr>
                        <th>ID</th>
                        <th scope="col">Total charge</th>
                        <th scope="col">Order time</th>
                        <th scope="col">Phone number</th>
                        <th scope="col">Address</th>
                        <th scope="col">Status</th>
                        <th scope="col">Update</th>
                    </tr>
                

                <tbody>
                    {{#each AllOrders}}
                    <tr>
                        <td class="order-id"><p id="order-id">#{{this.order_id}}</p></td>
                        <td>{{this.order_total}}</td>
                        <td>{{this.order_time}}</td>
                        <td>{{this.order_phone}}</td>
                        <td>{{this.fulladdress}}</td>
                        <td>{{this.order_status}}</td>
                        <td class="common--btn">
                            <div class="button-edit">
                              <a href="/order/detail/{{this.order_id}}" style="color:white;" onfocus="return false" target="_blank">
                                  <button class="btn btn__item btn--blue" style="padding: 5px; font-size:15px">
                                      Detail
                                  </button>
                              </a>
                            </div>
                            <div class="button-edit">
                              <button type="button" class="btn btn__item btn--green" style="padding: 5px; font-size:15px"
                                  data-toggle="modal" data-o_id="{{this.order_id}}" data-o_phone = "{{this.order_phone}}"
                                  data-o_a = "{{this.order_a}}" data-o_p = "{{this.order_p}}"
                                  data-o_d = "{{this.order_d}}" data-o_w = "{{this.order_w}}"
                                  data-o_status="{{this.order_status}}" data-target="#updateModal"
                                  {{#compareString this.order_status "Đã hủy"}}disabled{{/compareString}}
                                  {{#compareString this.order_status "Đã giao"}}disabled{{/compareString}}>
                                  Update
                              </button>
                            </div>
                            <div class="button-edit">
                              <button type="button" class="btn btn__item btn--red" style="padding: 5px; font-size:15px"
                                  data-toggle="modal" data-o_id="{{this.order_id}}" data-target="#removeModal"
                                  {{#compareString this.order_status "Đã hủy"}}disabled{{/compareString}}
                                  {{#compareString this.order_status "Đã giao"}}disabled{{/compareString}}>
                                  Cancel
                              </button>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                    </thead>
                </tbody>
            </table>
            
    </div>
{{/if}}
</div>
</div>