
      <div class="row">
        {{!
            <div class="col-xl-4">
              <!-- Profile picture card-->
              <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                  <!-- Profile picture image-->
                  <img
                    class="img-account-profile rounded-circle mb-2"
                    src="http://bootdey.com/img/Content/avatar/avatar1.png"
                    alt=""
                  />
                  <!-- Profile picture help block-->
                  <div class="small font-italic text-muted mb-4">
                    JPG or PNG no larger than 5 MB
                  </div>
                  <!-- Profile picture upload button-->
                  <button class="btn btn-primary" type="button">
                    Upload new image
                  </button>
                </div>
              </div>
            </div>
            }}
        <div class="col-xl-12">
          <!-- Account details card-->
          <div class="card mb-4">
            <div class="card-header">Add Product Information</div>
            <div class="card-body">
              <form
                action="/product/add"
                method="POST"
                name="Form"
                onsubmit="return validateForm()"
              >
                <!-- Form Group (username)-->

                <div class="mb-3">
                  <label class="small mb-1" for="inputProductName">
                    Product name
                  </label>

                  <input
                    class="form-control"
                    id="inputProductName"
                    type="text"
                    placeholder="Enter product name"
                    name="name"
                    value=""
                    required
                  />
                </div>
                <!-- Form Row-->
                <div class="mb-3">
                  <!-- Form Group (first name)-->

                  <label
                    class="small mb-1"
                    for="inputDescription"
                  >Description</label>
                  <input
                    class="form-control"
                    id="inputDescription"
                    type="text"
                    placeholder="Enter description about this product"
                    name="description"
                    value=""
                    required
                  />

                  <!-- Form Group (last name)-->
                  {{! <div class="col-md-6">
                        <label class="small mb-1" for="inputLastName"
                          >Last name</label
                        >
                        <input
                          class="form-control"
                          id="inputLastName"
                          type="text"
                          name="lastname"
                          placeholder="Enter your last name"
                          value=""
                          required
                        />
                      </div> }}
                </div>
                <!-- Form Row        -->
                <div class="row gx-3 mb-3" id="product_select">
                  <div class="col-md-4 flex">
                    <label class="small mb-1" for="category">Category</label>
                    <select name="category" id="category">
                      {{#each allCategories}}
                        {{#with this}}
                          <option
                            value="{{category_id}}"
                          >{{category_name}}</option>
                        {{/with}}
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-4 flex">
                    <label class="small mb-1" for="author">Author</label>
                    <select name="author" id="author">
                      {{#each allAuthors}}
                        {{#with this}}
                          <option value="{{author_id}}">{{author_name}}</option>
                        {{/with}}
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-4 flex">
                    <label class="small mb-1" for="publisher">Publisher</label>
                    <select name="publisher" id="publisher">
                      {{#each allPublishers}}
                        {{#with this}}
                          <option
                            value="{{publisher_id}}"
                          >{{publisher_name}}</option>
                        {{/with}}
                      {{/each}}

                    </select>
                  </div>

                </div>
                <div class="row gx-3 mb-3">
                  <div class="col-md-4 flex">
                    <label class="small mb-1" for="image-1">Image Cover</label>
                    <input
                      id="image-1"
                      class="form-control"
                      type="text"
                      placeholder="Enter your main image"
                      name="image_1"
                      value=""
                      required
                    />
                  </div>
                  <div class="col-md-4 flex">
                    <label class="small mb-1" for="image-2">Sub image 1</label>
                    <input
                      id="image-2"
                      class="form-control"
                      type="text"
                      placeholder="Enter your image"
                      name="image_2"
                      value=""
                    />
                  </div>
                  <div class="col-md-4 flex">
                    <label class="small mb-1" for="image-3">Sub image 2</label>
                    <input
                      id="image-3"
                      class="form-control"
                      type="text"
                      placeholder="Enter your image"
                      name="image_3"
                      value=""
                    />
                  </div>
                </div>

                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                    <label class="small mb-1" for="inputPrice">Price</label>
                    <input
                      class="form-control"
                      id="inputPrice"
                      type="text"
                      placeholder="Enter your price"
                      name="price"
                      value=""
                      required
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="small mb-1" for="inputStock">Stock</label>
                    <input
                      class="form-control"
                      id="inputStock"
                      type="text"
                      placeholder="Enter your stock"
                      name="stock"
                      value=""
                      required
                    />
                  </div>

                </div>

                <!-- Save changes button-->
                <button class="btn btn-primary" id="save" type="submit">
                  Save changes
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
