
          <!-- Page Heading -->
          

          <!-- DataTales Example -->
     
              
            {{!-- <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <form name="formProduct" action="/product/update" method="POST">
            <div class="button_container">
            <button  id="update-button"  type="submit" class="update-button">Update Status</button>
            <a href="/product/add">
            <input id="add-button" type="button" value="Add product"/>
            </a>
            </div>
            --}}

            <!-- them tac gia-->
           
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Product list</h6>
            </div>
            
            <div class="card-body">
              <form name="formProduct" action="/product/update" method="POST">
                <div class="button_container">
                  <button  id="update-button" class="button-20"  type="submit" class="update-button">Update Status</button>
                <a href="/product/add">
                  <input class="cursor button-20" type="button" id="add-button" value="Add product"/>
                </a>
                <a id="add-button"  data-toggle="collapse" href="#addAuthor" role="button" aria-expanded="false" aria-controls="addAuthor"><button class="button-20">Add author</button></a>
                <a id="add-button"  data-toggle="collapse" href="#addPublisher" role="button" aria-expanded="false" aria-controls="addPublisher"><button class="button-20">Add publisher</button></a>

                </div>
                  <div class="collapse" id="addAuthor">
                  <input type="text" name="author" id="add-author" placeholder="Hay nhap ten tac gia"/>
                  <button id="submit-author" type="button">Them tac gia</button>
              </div>
               <div class="collapse" id="addPublisher">
                  <input type="text" name="publisher" id="add-publisher" placeholder="Hay nhap nha xuat ban"/>
                  <button id="submit-publisher" type="button">Them nha xuat ban</button>
                </div>
              <div class="table-responsive">
                <table
                  class="table table-bordered"
                  id="dataTable"
                  width="100%"
                  cellspacing="0"
                >
                
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Cover</th>
                      <th>Product name</th>
                      <th>Description</th>
                      <th>Price</th>
                      <th>Product_status</th>

                    </tr>
                    <tbody>
                      {{#each allProducts}}
                        <tr>
                          {{#with this}}
                            <td>{{product_id}}</td>
                            <td>
                              <div class="cart-img">
                                <img id="product_list_cover" src="{{image_link}}" width="100%"/>
                              </div>
                            </td>
                            <td>{{product_name}}</td>
                            <td>{{description}}</td>
                            <td>{{price}}</td>
                            {{#if (isActive is_active)}}
                              <td style="display:flex; flex-direction: row; align-items: center; justify-content: space-between">
                                <div>
                                <input
                                  type="checkbox" 
                                  style="flex:1" 
                                  id=cb{{product_id}}
                                  class="check-status"
                                  name=cb{{product_id}}
                                  checked
                                />
                                
                                   
                                    <a href="product/detail/{{product_id}}">
                                      <i class="fa-solid fa-eye"></i>                                    
                                    </a>
                                </div>
                                </td>
                               
                            {{else}}
                              <td style="display:flex; flex-direction: row; align-items: center; justify-content: space-between">
                                <div>
                                <input
                                  type="checkbox" 
                                  style="flex:1" 
                                   id=cb{{product_id}}
                                    name=cb{{product_id}}
                                  class="check-status"
                                />
                                   
                                    <a href="product/detail/{{product_id}}">
                                      <i class="fa-solid fa-eye"></i>                                    
                                    </a>
                                </div>
                                </td>
                            {{/if}}

                          {{/with}}
                        </tr>
                      {{/each}}
                    </tbody>
                  </thead>

                </table>
              </div>
              </form>
            </div>
          </div>



      